@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
    
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
     ::selection{
    color: yellow;
}


#root{
    margin: 0;
    padding: 0;
}